<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justinkhoo.wristbandapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/oneband_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <service android:enabled="true" android:name=".MonitorService" />
        <activity
            android:name=".activity1"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Monitor"
            android:label="@string/title_activity_monitor" >
        </activity>
        <activity
            android:name=".ChartDemo"
            android:label="AChartEngine demo" >
        </activity>
        <activity android:name=".chart.XYChartBuilder" />
        <activity android:name=".chart.PieChartBuilder" />
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name=".GeneratedChartDemo" />
        <activity
            android:name=".Devices"
            android:label="@string/title_activity_devices"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="OneBand"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lobby"
            android:label="@string/title_activity_lobby"
            android:screenOrientation="portrait" >

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".Steps"
            android:label="@string/title_activity_steps"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Temperatures"
            android:label="@string/title_activity_temperatures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Heartrate"
            android:label="OneBand"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StepGoals"
            android:label="@string/title_activity_step_goals" >
        </activity>
        <activity
            android:name=".DBTest"
            android:label="@string/title_activity_dbtest" >
        </activity>
        <activity
            android:name=".EmergencyContact"
            android:label="@string/title_activity_emergency_contact" >
        </activity>
    </application>

</manifest>
